.produk-item a {
    text-decoration: none; /* Tambahkan ini untuk menghilangkan garis bawah tautan */
    color: inherit; /* Tambahkan ini untuk mewarisi warna teks */
}

.btn-wa {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 10px; /* Tambahkan margin atas */
}

.detail-produk {
    text-align: center;
    padding: 20px;
}

.detail-produk img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
